<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);
  }

  h1 {
    font-size: 2.0em;
    color: white;
  }

  h5 {
    color: darkgray;
  }

  .app-body-container {
    background-color: rgba(0,0,0,0.70);
    -webkit-border-radius: 10px;
    border-radius: 10px;

    color: #EEEEEE;
  }
  .app-body-container > .app-body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .app-body-container .app-body-header {
    width: 100%;
    background: #CCCCCCCC;
    margin:0;
    padding:0;
    border-radius:10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
  }

  .app-body-container .app-body-header h1 {
    color: rgba(134,134,255,1);
    margin:10px;
    display: inline-block;
    font-size: 2.0em;
  }

  .link {
    cursor: pointer;
  }
  .link:hover {

  }

  .banner {
    display: flex !important;  /* Production setting (shouldn't be needed) */
    flex-direction: row;
    width: 100%;
    text-align: right;
    color: #FFFFFF;
    background-image: radial-gradient(circle, #B5B5B5 0%, #FFFFFF 100%);
  }

  .banner a.banner-item {
    background-color: transparent;
    color: rgba(100, 100, 100, 1);
    font-size: 1.5em;
    text-decoration: none;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner a.banner-item:hover {
    background-color: #FFFFFF;
    color: rgba(100, 100, 255, 1);
    transition: background-color 0.3s ease-out;
  }
  .banner a.banner-item.active {
    text-decoration: none;
    background-color: #FFFFFF;
    color: rgba(100, 100, 255, 1);
  }

  .sidenav-container-left {
    position: absolute;
    top: 0;
    bottom:0;
    left: -260px;
    width: 260px;
    background: rgba(255,255,255, 1);
  }
  .sidenav-container-right {
    position: absolute;
    opacity: 0;
    top: 50px;
    right: 16px;
    border: 1px solid #888;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    background: #FFF;
  }

  .sidenav-container-left.expand {
    transition: left 0.15s ease-in-out;
    left: 0;
  }
  .sidenav-container-left.collapse {
    transition: left 0.15s ease-in-out;
    left: -260px;
  }

  .sidenav-container-right.expand {
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
  }
  .sidenav-container-right.collapse {
    transition: opacity 0.15s ease-in-out;
    opacity: 0;
  }

  .sidenav-container-left div.logo {
    display:block;
    background-image: url("../../../../public/metroid-inactive.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position-x: 222px;
    background-position-y: 5px;
  }
  .sidenav-container-left div.logo > h4 {
    text-align:left;
    margin: 0px;
    padding: 10px;
  }

  .sidenav-container-right div.logo {
    display:block;
    background-image: url("../../../../public/metroid-inactive.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position-x: 222px;
    background-position-y: 5px;
  }
  .sidenav-container-right div.logo > h4 {
    margin: 0px;
    padding: 10px;

  }
  .sidenav-container-right .primary-user-logon {
    font-style: italic;
    text-align:right;
    padding: 10px;
    margin: 20px 0 20px 0;
    background: rgba(134,134,255,0.3);
  }
  .sidenav-container-right .primary-user-logon h5 {
    color: #888;
    margin: 0;
    padding:0;
  }

  .sidenav-container-right .primary-user-logon > h5 > .primary-user-name {
    font-style: normal;
    color: #555;
  }

  .sidenav-container-right .primary-user-logon h5:first-child {
    margin-bottom:10px;
  }

  .sidenav-container-left .sidenav-content a {
    display: block;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    color: #B5B5B5;
  }
  .sidenav-container-right .sidenav-content a {
    display: block;
    text-decoration: none;
    padding: 5px;
    padding-right: 10px;
    padding-left:10px;
    color: #B5B5B5;
  }

  .sidenav-container-left .sidenav-content a:hover,
  .sidenav-container-left .sidenav-content .sidenav-tree-header:hover {
    color: #888888 !important;
    background-color: rgba(134,134,255,0.3);
  }

  .sidenav-container-right .sidenav-content a:hover,
  .sidenav-container-right .sidenav-content .sidenav-tree-header:hover {
    color: #888888 !important;
    background-color: rgba(134,134,255,0.3);
  }

  .sidenav-content .sidenav-tree .sidenav-tree-header {
    cursor: pointer;
  }
  .sidenav-content .sidenav-tree .sidenav-tree-item {
    padding-left: 20px;
  }
  .sidenav-content .sidenav-tree .sidenav-tree-expander {
    font-size: 1.1em;
  }
  .sidenav-content .sidenav-tree .sidenav-tree-expander.expand:after {
  }

  .sidenav-left-opener {
    color: lightgray;
    text-align: left;
    align-content: center;
    padding-right: 10px;
  }

  .sidenav-left-opener > button {
    font-size: 1.0em;
    color: dimgray;
    margin: 5px;
    padding:8px;
    border:2px solid #eee;
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }
  .sidenav-left-opener > button:focus {
    border:2px solid #eee;
  }

  .sidenav-right-opener {
    color: lightgray;
    text-align: left;
    align-content: center;
    padding-right: 10px;
  }

  .sidenav-right-opener > button {
    font-size: 1.0em;
    color: #888888;
    margin: 5px;
    padding:6px;
    border:none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor:pointer;
    background-color: #EFEFEF;
  }
  .sidenav-right-opener > button:hover {
    background-color: rgba(134,134,255,0.3);
  }
  .sidenav-right-opener > button:focus {
  }

  .logo {
    flex: max-content;
    flex-direction: row-reverse;
    display: flex;
  }

  .logo h1,
  .logo h4 {
      color: rgba(134, 134, 255, 0.5);
      font-size: 2.5em;
      margin: 10px;
      background: linear-gradient(45deg, rgba(134, 134, 255, 0.5) 45%, #ffffff 50%, rgba(134, 134, 255, 0.5) 55%);
      background-repeat: no-repeat;
      overflow: hidden;
      animation: animate 3s linear 10s infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(134, 134, 255, 0.5);
  }
  .logo h4 {
    font-size: 1.2em !important;
  }

  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

  @media screen and (max-width: 1400px) {
    .banner .logo > h1 {
      font-size: 1.5em;
    }
    .banner a.banner-item {
      font-size: 0.80em;
    }

    .sidenav-left-opener > button {
      width: 40px;
      height: 40px;
      margin: 5px 0px 5px 10px;
      border: none;
      border-radius: 25px;
      background-image: url("../../../../public/metroid-inactive.png");
      background-color: rgba(0, 0, 0, 0.1);
      background-size: 30px 30px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    .sidenav-left-opener > button:hover {
      background-color: rgba(134, 134, 255, 0.4);
    }

    .sidenav-left-opener > button:active {
      background-color: rgba(0, 0, 0, 0.3);
      background-image: url("../../../../public/metroid.png");
    }
  }

  @media screen and (min-width: 1400px) {
    .sidenav-left-opener > button {
      width: 52px;
      height: 52px;
      margin: 5px 0px 5px 10px;
      border: none;
      border-radius: 25px;
      background-image: url("../../../../public/metroid-inactive.png");
      background-color: rgba(0, 0, 0, 0.1);
      background-size: 42px 42px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    .sidenav-left-opener > button:hover {
      background-color: rgba(134, 134, 255, 0.4);
    }

    .sidenav-left-opener > button:active {
      background-color: rgba(0, 0, 0, 0.3);
      background-image: url("../../../../public/metroid.png");
    }
  }

</style>

<main class="main">

  <!-- Side Nav Left -->
  <div class="sidenav-container-left"
       [ngClass]="{'expand': this.showSideNavLeft, 'collapse': !this.showSideNavLeft}"
       (clickOutside)="onSideNavOffClick()"
       [clickOutsideAttached]="this.showSideNavLeft">
    <div class="logo">
      <h4>Super Metroid Esports</h4>
    </div>
    <div class="sidenav-content">
      <a class="russo-one-regular" (click)="this.showSideNavLeft = false" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="russo-one-regular" (click)="this.showSideNavLeft = false" routerLink="/news" routerLinkActive="active">News</a>
      <a class="russo-one-regular" (click)="this.showSideNavLeft = false" routerLink="/people" routerLinkActive="active">People</a>
      <div class="sidenav-tree">
        <div class="sidenav-tree-header" (click)="this.showChatNavTree = !this.showChatNavTree">
          <a class="russo-one-regular">Chat <span class="sidenav-tree-expander"
                                                  [textContent]="!this.showChatNavTree ? '+' : '-'"></span></a>
        </div>
        <div class="sidenav-tree-body" *ngIf="this.showChatNavTree">
          <a class="russo-one-regular sidenav-tree-item" (click)="this.showSideNavLeft = false" routerLink="/chat/politics" routerLinkActive="active">Politics</a>
          <a class="russo-one-regular sidenav-tree-item" (click)="this.showSideNavLeft = false" routerLink="/chat/people" routerLinkActive="active">People</a>
          <a class="russo-one-regular sidenav-tree-item" (click)="this.showSideNavLeft = false" routerLink="/chat/speed-running" routerLinkActive="active">SM Speed Running</a>
          <a class="russo-one-regular sidenav-tree-item" (click)="this.showSideNavLeft = false" routerLink="/chat/general" routerLinkActive="active">General</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Side Nav Right -->
  <div class="sidenav-container-right"
       [ngClass]="{'expand': this.showSideNavRight, 'collapse': !this.showSideNavRight}"
       (clickOutside)="onSideNavOffClick()"
       [clickOutsideAttached]="this.showSideNavRight">
    <div class="sidenav-content">

      <!-- Primary UserLogon -->
      <div class="primary-user-logon" *ngIf="this.primaryUserLoggedOn">
        <h5>Logged on as <span class="primary-user-name link" [routerLink]="'/personal/' + this.primaryUserLogon.userName">{{this.primaryUserLogon.userName}}</span></h5>
        <h5>{{moment(this.primaryUserLogon.loggedinAt).format('YYYY-MM-DD h:mm:ss a')}}</h5>
      </div>

      <login *ngIf="!this.primaryUserLoggedOn" (formFinished)="this.showSideNavRight = false" />

    </div>
  </div>

  <div class="banner">

    <div class="sidenav-left-opener">
      <button (click)="showSideNavLeft=true"></button>
    </div>

    <a class="banner-item russo-one-regular" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="banner-item russo-one-regular" routerLink="/news" routerLinkActive="active">News</a>
    <a class="banner-item russo-one-regular" routerLink="/people" routerLinkActive="active">People</a>
    <a class="banner-item russo-one-regular" routerLink="/chat/politics" routerLinkActive="active">Chat</a>

    <div class="logo">
      <div class="sidenav-right-opener">
        <button (click)="showSideNavRight=!showSideNavRight"><fa-icon [icon]="faBars"></fa-icon></button>
      </div>
      <h1 class="russo-one-regular animate">Super Metroid Esports (DEVELOPER PREVIEW)</h1>
    </div>

  </div>

  <div class="app-body-container"
       [ngStyle]="{'width': this.appService.getBodySize().width + 'px',
                   'height': this.appService.getBodySize().height + 'px',
                   'margin': this.appService.bodyMargin + 'px'}">
    <div class="app-body-header">
      <h1 class="russo-one-regular">{{this.routeTitle}}</h1>
    </div>

    <div class="app-body"
         [ngStyle]="{'width': this.appService.getBodySize().width + 'px',
                     'height': (this.appService.getBodySize().height - 60) + 'px'}">
      <router-outlet />
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



