<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);
  }

  h1 {
    font-size: 2.0em;
    color: white;
  }

  h5 {
    color: darkgray;
  }


  main {
  }

  .sidenav-container {
    position: absolute;
    top: 0;
    bottom:0;
    left: -260px;
    width: 260px;
    background: rgba(255,255,255, 1);
  }

  .sidenav-container.expand {
    transition: left 0.35s ease-in-out;
    left: 0;
  }
  .sidenav-container.collapse {
    transition: left 0.35s ease-in-out;
    left: -260px;
  }

  .sidenav-container > div.logo {
    background-image: url("../../../../public/metroid-inactive.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position-x: 222px;
    background-position-y: 5px;
  }
  .sidenav-container > div.logo > h4 {
    margin: 0px;
    padding: 10px;
  }

  .sidenav-content a {
    display: block;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    color: #B5B5B5;
  }

  .sidenav-content a:hover,
  .sidenav-content .sidenav-tree-header:hover {
    color: #888888 !important;
    background-color: rgba(134,134,255,0.3);
  }

  .sidenav-content .sidenav-tree .sidenav-tree-header {
    cursor: pointer;
  }

  .sidenav-content .sidenav-tree .sidenav-tree-item {
    padding-left: 20px;
  }

  .sidenav-content .sidenav-tree .sidenav-tree-expander {
    font-size: 1.1em;
  }
  .sidenav-content .sidenav-tree .sidenav-tree-expander.expand:after {
  }

  .banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: right;
    color: #FFFFFF;
    background-image: radial-gradient(circle, #B5B5B5 0%, #FFFFFF 100%);
  }

  .banner a.banner-item {
    background-color: transparent;
    color: rgba(100, 100, 100, 1);
    font-size: 1.5em;
    text-decoration: none;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner a.banner-item:hover {
    background-color: #FFFFFF;
    color: rgba(100, 100, 255, 1);
    transition: background-color 0.3s ease-out;
  }
  .banner a.banner-item.active {
    text-decoration: none;
    background-color: #FFFFFF;
    color: rgba(100, 100, 255, 1);
  }

  @keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }

  .app-body {
    background-color: rgba(0,0,0,0.70);
    -webkit-border-radius: 10px;
    border-radius: 10px;

    color: #EEEEEE;

    opacity: 1;
    animation: fadein 2s;
    overflow: hidden;
  }

  .modal-container h2 {
    text-align: center;
  }
  .modal-container button {
    margin-right: 8px;
  }
  .modal-container  input,
  .modal-container  mat-form-field {
    width: 100%;
  }

  .primary-user {
    color: lightgray;
    text-align: left;
    align-content: center;
    padding-right: 10px;
  }

  .primary-user > input {
    font-size: 1.0em;
    color: dimgray;
    margin: 5px;
    padding:8px;
    border:2px solid #eee;
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }
  .primary-user > input:focus {
    border:2px solid #eee;
  }

  .logo {
    flex: max-content;
  }

  .logo h1,
  .logo h4{
      color: rgba(134, 134, 255, 0.5);
      font-size: 2.5em;
      margin: 10px;
      background: linear-gradient(45deg, rgba(134, 134, 255, 0.5) 45%, #ffffff 50%, rgba(134, 134, 255, 0.5) 55%);
      background-repeat: no-repeat;
      overflow: hidden;
      animation: animate 3s linear 10s infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(134, 134, 255, 0.5);
  }
  .logo h4 {
    font-size: 1.2em !important;
  }

  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

  @media screen and (max-width: 1400px) {
    .banner .logo > h1 {
      font-size: 1.5em;
    }
    .banner a.banner-item {
      font-size: 0.80em;
    }

    .primary-user > button {
      width: 40px;
      height: 40px;
      margin: 5px 0px 5px 10px;
      border: none;
      border-radius: 25px;
      background-image: url("../../../../public/metroid-inactive.png");
      background-color: rgba(0, 0, 0, 0.1);
      background-size: 30px 30px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    .primary-user > button:hover {
      background-color: rgba(134, 134, 255, 0.4);
    }

    .primary-user > button:active {
      background-color: rgba(0, 0, 0, 0.3);
      background-image: url("../../../../public/metroid.png");
    }
  }

  @media screen and (min-width: 1400px) {
    .primary-user > button {
      width: 52px;
      height: 52px;
      margin: 5px 0px 5px 10px;
      border: none;
      border-radius: 25px;
      background-image: url("../../../../public/metroid-inactive.png");
      background-color: rgba(0, 0, 0, 0.1);
      background-size: 42px 42px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    .primary-user > button:hover {
      background-color: rgba(134, 134, 255, 0.4);
    }

    .primary-user > button:active {
      background-color: rgba(0, 0, 0, 0.3);
      background-image: url("../../../../public/metroid.png");
    }
  }

</style>

<main class="main">

  <div class="sidenav-container"
       [ngClass]="{'expand': this.showSideNav, 'collapse': !this.showSideNav}"
       (clickOutside)="onSideNavOffClick($event)"
       [attachOutsideOnClick]="true"
       [emitOnBlur]="true">
    <div class="logo">
      <h4>Super Metroid Esports</h4>
    </div>
    <div class="sidenav-content">
      <a class="russo-one-regular" (click)="this.showSideNav = false" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="russo-one-regular" (click)="this.showSideNav = false" routerLink="/news" routerLinkActive="active">News</a>
      <a class="russo-one-regular" (click)="this.showSideNav = false" routerLink="/people" routerLinkActive="active">People</a>
      <div class="sidenav-tree">
        <div class="sidenav-tree-header" (click)="this.showChatNavTree = !this.showChatNavTree">
          <a class="russo-one-regular">Chat <span class="sidenav-tree-expander"
                                                  [textContent]="!this.showChatNavTree ? '+' : '-'"></span></a>
        </div>
        <div class="sidenav-tree-body" *ngIf="this.showChatNavTree">
          <a class="russo-one-regular sidenav-tree-item" (click)="this.showSideNav = false" routerLink="/chat/politics" routerLinkActive="active">Politics</a>
          <a class="russo-one-regular sidenav-tree-item" (click)="this.showSideNav = false" routerLink="/chat/people" routerLinkActive="active">People</a>
          <a class="russo-one-regular sidenav-tree-item" (click)="this.showSideNav = false" routerLink="/chat/speed-running" routerLinkActive="active">SM Speed Running</a>
          <a class="russo-one-regular sidenav-tree-item" (click)="this.showSideNav = false" routerLink="/chat/general" routerLinkActive="active">General</a>
        </div>
      </div>
    </div>
  </div>

  <div class="banner">

    <div class="primary-user">
      <button (click)="showSideNav=true"></button>
    </div>

    <a class="banner-item russo-one-regular" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="banner-item russo-one-regular" routerLink="/news" routerLinkActive="active">News</a>
    <a class="banner-item russo-one-regular" routerLink="/people" routerLinkActive="active">People</a>
    <a class="banner-item russo-one-regular" routerLink="/chat/politics" routerLinkActive="active">Chat</a>

    <div class="logo">
      <h1 class="russo-one-regular animate">Super Metroid Esports</h1>
    </div>
  </div>

  <div class="app-body"
       [ngStyle]="{'width': ((this.appService.getSize()?.width || 0) - (2 * this.appService.bodyMargin)) + 'px',
                   'height': ((this.appService.getSize()?.height || 0) - this.appService.bannerHeight - (2 * this.appService.bodyMargin)) + 'px',
                   'margin': this.appService.bodyMargin + 'px'}">
    <router-outlet />
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



