<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .main {
    display: block;
  }

  .main.loading {
    display: none;
  }

  .main > sm-esports-sidenav {
    width:260px;
    position:absolute;
    top:0;
    bottom:0;
    z-index:3;
  }
  .main sm-esports-sidenav.expand {
    transition: left 0.15s ease-in-out;
    left: 0;
  }
  .main sm-esports-sidenav.collapse {
    transition: left 0.15s ease-in-out;
    left: -260px;
  }

  .main user-dropdown {
    z-index:3;
    position:absolute;
    top:0;
    right:0;
    left:0;
  }

  .main .app-body {
    background-color: rgba(0,0,0,0.70);
    color: #EEEEEE;
  }
  .main .app-body {
    background:red;
  }
  .main .sidenav-left-opener {
    color: lightgray;
    text-align: left;
    align-content: center;
  }

  .main .sidenav-left-opener > button {
    color: dimgray;
    border:2px solid #eee;
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }
  .main .sidenav-left-opener > button:focus {
  }

  .main .user-dropdown-opener {
    color: lightgray;
    text-align: left;
    align-content: center;
  }
  .main .user-dropdown-opener > button {
    font-size: 1.0em;
    color: #888888;
    margin: 5px;
    padding:6px;
    border:none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor:pointer;
    background-color: #EFEFEF;
  }
  .main .user-dropdown-opener > button:hover {
    background-color: rgba(134,134,255,0.3);
  }
  .main .user-dropdown-opener > button:focus {
  }

  .main table thead h1 {
    color: rgba(134, 134, 255, 0.5);
    margin:0;
    padding:0;
    background: linear-gradient(45deg, rgba(134, 134, 255, 0.5) 45%, #ffffff 50%, rgba(134, 134, 255, 0.5) 55%);
    background-repeat: no-repeat;
    animation: animate 3s linear 10s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(134, 134, 255, 0.5);
  }

  .main table a {
    text-decoration: none;
    color:#555;
  }
  .main table a:hover,
  .main table a.active {
    color:rgba(100,100,255,1);
  }
  .main table fa-icon.live {
    font-size:0.65em;
    color:lawngreen;
    margin-left:5px;
  }

  /* BANNER + MENU LAYOUT */

  .main table {
    position:absolute;
    display:table;
    table-layout:fixed;
    border-collapse: collapse;
    text-align:left;
    z-index:2;
    top:0;
    left:0;
    right:0;
    width: 100%;
    background-image: radial-gradient(circle, #B5B5B5 0%, #FFFFFF 100%);
  }
  .main table.menu-open {
    /* Trying to make the layout switch for column sizing */
  }
  .main table > thead {
  }
  .main table > tbody {
    border-top:0px solid #AAA;
  }
  .main table > thead > tr {
    width:100%;
  }
  .main table > tbody > tr {
    width:100%;
  }
  .main table > thead > tr > th,
  .main table > tbody > tr > td {
    vertical-align: middle;
    padding-left:10px;
  }
  .main table > thead > tr > th.active,
  .main table > tbody > tr > td.active {
    background-color:rgba(255,255,255,0.5);
  }
  .main table > thead > tr > th:nth-child(8),
  .main table > thead > tr > th:nth-child(9){
    text-align:right;
  }

  @media screen and (max-width: 1400px) {

    .main table > thead h1 {
      font-size: 1.2em;
      padding:0;
      margin:8px;
    }
    .main table a {
      padding:0;
      font-size: 0.85em;
    }

    .main .sidenav-left-opener > button {
      width: 30px;
      height: 30px;
      margin: 3px 0 3px 5px;
      border: none;
      border-radius: 25px;
      background-image: url("../../../../public/metroid/metroid-inactive.png");
      background-color: rgba(0, 0, 0, 0.1);
      background-size: 23px 23px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    .main .sidenav-left-opener > button:hover {
      background-color: rgba(134, 134, 255, 0.4);
      background-image: url("../../../../public/metroid/metroid-angle-right.png");
    }

    .main .sidenav-left-opener > button:active {
      background-color: rgba(0, 0, 0, 0.3);
    }

    .main table > thead > tr > th:nth-child(1),
    .main table > tbody > tr > th:nth-child(1){
      width:40px;
    }
    .main table > thead > tr > th:nth-child(2),
    .main table > tbody > tr > th:nth-child(2){
      width:100px;
    }
    .main table > thead > tr > th:nth-child(3),
    .main table > tbody > tr > th:nth-child(3){
      width:100px;
    }
    .main table > thead > tr > th:nth-child(4),
    .main table > tbody > tr > th:nth-child(4){
      width:100px;
    }
    .main table > thead > tr > th:nth-child(5),
    .main table > tbody > tr > th:nth-child(5){
      width:100px;
    }
    .main table > thead > tr > th:nth-child(6),
    .main table > tbody > tr > th:nth-child(6){
      width:120px;
    }
    .main table > thead > tr > th:nth-child(7),
    .main table > tbody > tr > th:nth-child(7){
      width:50px;
    }
    .main table > thead > tr > th:nth-child(9),
    .main table > tbody > tr > th:nth-child(9){
      width:50px;
    }
  }

  @media screen and (min-width: 1400px) {

    .main table a {
      padding:0;
      font-size:1.2em;
    }

    .main .sidenav-left-opener > button {
      width: 40px;
      height: 40px;
      margin: 5px 0px 5px 0px;
      border: none;
      border-radius: 25px;
      background-image: url("../../../../public/metroid/metroid-inactive.png");
      background-color: rgba(0, 0, 0, 0.1);
      background-size: 32px 32px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    .main .sidenav-left-opener > button:hover {
      background-color: rgba(134, 134, 255, 0.4);
      background-image: url("../../../../public/metroid/metroid-angle-right.png");
    }

    .main .sidenav-left-opener > button:active {
      background-color: rgba(0, 0, 0, 0.3);
    }

    .main table > thead > tr > th:nth-child(1),
    .main table > tbody > tr > th:nth-child(1){
      width:45px;
    }
    .main table > thead > tr > th:nth-child(2),
    .main table > tbody > tr > th:nth-child(2){
      width:120px;
    }
    .main table > thead > tr > th:nth-child(3),
    .main table > tbody > tr > th:nth-child(3){
      width:120px;
    }
    .main table > thead > tr > th:nth-child(4),
    .main table > tbody > tr > th:nth-child(4){
      width:120px;
    }
    .main table > thead > tr > th:nth-child(5),
    .main table > tbody > tr > th:nth-child(5){
      width:120px;
    }
    .main table > thead > tr > th:nth-child(6),
    .main table > tbody > tr > th:nth-child(6){
      width:160px;
    }
    .main table > thead > tr > th:nth-child(7),
    .main table > tbody > tr > th:nth-child(7){
      width:70px;
    }
    .main table > thead > tr > th:nth-child(9),
    .main table > tbody > tr > th:nth-child(9){
      width:50px;
    }
  }

</style>

<main class="main" [ngClass]="{'loading': this.loading}">

  <sm-esports-sidenav [ngClass]="{'expand': this.showSideNavLeft, 'collapse': !this.showSideNavLeft}"
                      [side-nav-show]="this.showSideNavLeft"
                      (showSideNavChange)="this.showSideNavLeft = false" />

  <user-dropdown [user-dropdown-show]="this.showUserDropdown" />

  <!-- Banner + Menu-->
  <table class="prevent-select russo-one-regular"
         (mouseleave)="this.showMenu = false"
         [ngClass]="{'menu-open': this.showMenu}">
    <thead (mouseenter)="this.showMenu = true">
      <tr>
        <th>
          <div class="sidenav-left-opener">
            <button (click)="showSideNavLeft=true"></button>
          </div>
        </th>
        <th routerLinkActive="active"><a class="banner-item" routerLink="/home/news" routerLinkActive="active">Home<fa-icon class="live" [icon]="faCircle"></fa-icon></a></th>
        <th routerLinkActive="active"><a class="banner-item" routerLink="/people/all" routerLinkActive="active">People</a></th>
        <th routerLinkActive="active"><a class="banner-item" routerLink="/collab/statement" routerLinkActive="active">Collab</a></th>
        <th routerLinkActive="active"><a class="banner-item" routerLink="/landscape/media" routerLinkActive="active">Landscape</a></th>
        <th routerLinkActive="active"><a class="banner-item" routerLink="/chat/politics" routerLinkActive="active">Chat</a></th>
        <th routerLinkActive="active"></th>
        <th><h1 class="animate">Super Metroid Esports</h1></th>
        <th>
          <div class="user-dropdown-opener">
            <button (click)="this.showUserDropdown=!showUserDropdown"><fa-icon [icon]="faBars"></fa-icon></button>
          </div>
        </th>
      </tr>
    </thead>

    <tbody *ngIf="this.showMenu">
      <tr>
        <td></td>
        <td routerLinkActive="active"><a class="banner-item live" routerLink="/home/live" routerLinkActive="active">Live<fa-icon class="live" [icon]="faCircle"></fa-icon></a></td>
        <td routerLinkActive="active"><a routerLink="/people/all" routerLinkActive="active">All</a></td>
        <td routerLinkActive="active"><a routerLink="/collab/statement" routerLinkActive="active">Statement</a></td>
        <td routerLinkActive="active"><a routerLink="/landscape/media" routerLinkActive="active">Media</a></td>
        <td routerLinkActive="active"><a routerLink="/chat/politics" routerLinkActive="active">Politics</a></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td routerLinkActive="active"><a routerLink="/home/news" routerLinkActive="active">News</a></td>
        <td routerLinkActive="active"><a routerLink="/people/board" routerLinkActive="active">Board</a></td>
        <td routerLinkActive="active"><a routerLink="/collab/guide" routerLinkActive="active">Guide</a></td>
        <td routerLinkActive="active"><a routerLink="/landscape/wiki" routerLinkActive="active">Wiki</a></td>
        <td routerLinkActive="active"><a routerLink="/chat/people" routerLinkActive="active">People</a></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td routerLinkActive="active"><a routerLink="/home/schedule" routerLinkActive="active">Schedule</a></td>
        <td routerLinkActive="active"><a routerLink="/people/search" routerLinkActive="active">Search</a></td>
        <td routerLinkActive="active"><a routerLink="/collab/documents" routerLinkActive="active">Documents</a></td>
        <td routerLinkActive="active"><a routerLink="/landscape/links" routerLinkActive="active">Links</a></td>
        <td routerLinkActive="active"><a routerLink="/chat/speed-running" routerLinkActive="active">Speed Running</a></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td routerLinkActive="active"><a routerLink="/home/online" routerLinkActive="active">Online</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td routerLinkActive="active"><a routerLink="/chat/general" routerLinkActive="active">General</a></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="app-body">
    <router-outlet />
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



