<style>

  .container {
    height: 100%;
  }

  .tab-header {
    flex: 200px;
    margin: 5px;
  }

  .tab-header > button {
    width:100%;
    margin-bottom:5px;
  }

  .tab-control {
    display: flex;
    height: 100%;
  }

  .tab-content {
    border: 2px solid lightgray;
    flex: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: rgba(134, 134, 255, 0.5);
  }

</style>

<div class="container">
  <div class="tab-control">
    <div class="tab-header">
      <button mat-raised-button
             *ngFor="let tab of chatTabs; index as i;"
             [routerLink]="tab.route"
             [routerLinkActive]="'route-active'">
        {{tab.name}}
      </button>
    </div>

    <div class="tab-content">
      <router-outlet />
    </div>

    <!--div class="tab-content">
      <div class="tab-item"
           *ngFor="let tab of chatTabs; index as i;">
        <div class="tab-item-content"
             *ngIf="selectedChatTab?.index == i">
          <router-outlet />
        </div>
      </div>
    </div-->

    <div class="clear-fix"></div>

  </div>
</div>
