<style>

  .container {
    height:100%;
  }

  .container > .header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
    height: 40px;
  }

  .container .body {
    height: calc(100% - 108px);
    overflow: auto;
  }

  .container .chat-container {
    display:flex;
  }

  .container > .body > .chat-container:nth-child(2n) {
    background: rgba(0, 0, 0, 0.3);
  }

  .container > .body > .chat-container > .chat-user {
    flex: auto;
    min-width: 200px;
    max-width: 200px;
    margin: 5px;
  }
  .container > .body > .chat-container > .chat-body {
    flex: auto;
    margin: 5px;
  }
  .container > .body > .chat-container > .chat-date {
    flex: auto;
    text-align: right;
    min-width: 160px;
    max-width: 160px;
    margin: 5px;
  }

  .container > .header > h2 {
    margin: 5px;
  }

  .container > .input-container {
    background-color: rgba(255, 255, 255, 0.3);

    color: lightgray;
    text-align: right;
    horiz-align: right !important;

    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
  }

  .container > .input-container > input {
    width: 300px;
    font-size: 1.0em;
    color: dimgray;
    margin: 10px 0 10px 10px;
    padding:8px;
    border:2px solid #eee;
    border-radius: 20px;
    -webkit-border-radius: 20px;

    float: right;
  }
  .container > .input-container > input:focus {
    border:1px solid #ccc;
  }
  .container > .input-container > sm-esports-button {
    width:50px;
    float: right;
    margin: 10px;
  }
</style>


<div class="container" [ngClass]="{'loading': this.loading}">

  <div class="header">
    <h2>{{chatRoom?.name}}</h2>
  </div>

  <div class="body">
    <div class="chat-container"
         *ngFor="let chat of this.chatRoom.chats;index as i">
      <span class="chat-user">{{chat.userName}}</span>
      <p class="chat-body">{{chat.text}}</p>
      <span class="chat-date">{{formatDate(chat.date, 'YYYY-MM-dd hh:mm:ss', 'en-US')}}</span>
      <div class="clear-fix"></div>
    </div>
  </div>

  <div class="input-container">
    <sm-esports-button [disabled]="!chatInput" [text]="'Chat'" (clicked)="submitChat()" />
    <input [(ngModel)]="chatInput"
           (keyup.enter)="!!chatInput? submitChat() : noop()"
           type="text"
           required />
    <div class="clear-fix"></div>
  </div>
</div>
