<style>
  .contact-container {
    padding: 20px;
    margin:0;
  }
  .contact-container > h3 {
    margin:0;
    color: rgba(134,134,255,1);
  }
  .contact-container > h4 {
    margin:0;
    width:400px;
  }
  .contact-container .contact-info {
    display: block;
    width: 260px;
    height:80px;
    padding:10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: rgba(255,255,255,0.5);
    float:right;
  }
  .contact-container .contact-info > h4 {
    margin:0;
    float:left;
  }
  .contact-container .contact-info-body {
    float:right;
  }
  .contact-container .contact-info-item {
    text-align:right;
  }
  .contact-container .contact-info-item > a {
    font-size:0.85em;
    font-style: italic;
    text-decoration: none;
    color: #EEE;
    margin:10px;
    text-align: center;
  }
</style>

<div class="contact-container">

  <div class="contact-info">
    <h4>Contact Information</h4>
    <div class="contact-info-body">
      <div class="contact-info-item">
        <a href="http://github.com/aniv-sm-esports/sm-esports-web" target="_blank">github</a><fa-icon [icon]="faGithub"></fa-icon>
      </div>
      <div class="contact-info-item">
        <a href="mailto:aniv.sm.esports@gmail.com" target="_blank">email</a><fa-icon [icon]="faEnvelope"></fa-icon>
      </div>
    </div>
    <div class="clear-fix"></div>
  </div>

  <h3>What is the purpose of this project?</h3>

  <p>
    The purpose of this project is to create a collaborative, people-focused, backbone for Super Metroid Esports. It will
    seek to promote the sharing of responsibility that comes with gig-economic labor - while attracting more people and
    investors to the group.
  </p>

  <h3>What are some of the goals?</h3>

  <p>
    There will, undoubtedly, be many creative minds that wish to participate! I'd expect that most people will want to have
    some way to communicate, firstly! So, here's a short list of things that come to mind.
  </p>

  <ul>
    <li>(Board) Ownership / Collaborative daily-discussion / Sharing of roles</li>
    <li>(Media Role) A group media front which would be a dedicated (shared) role to post daily / weekly / monthly (youtube based video) ads</li>
    <li>(Promotion) Merch, Networking, and Business Reach-Out</li>
    <li>(Legal) Copyright, Twitch, Youtube, and Paypal details to share with the board and new users</li>
    <li>(Schedule / Events) What's going on this day / week / month? What group events do we have planned?</li>
  </ul>

  <h3>How can I get involved?</h3>

  <p>
    There's one role that comes to mind - developer! If you have software expertise, wish to learn software, or want to help
    out with testing, and documentation, this is where I get to win! ^_^  Please contact me, or see the project site to sponsor
    this group!
  </p>

</div>
