<style>
  .login-container {
    padding: 0px;
    margin: 0px !important;
  }

  .login-container .notify-container {
    margin:20px;
  }

  .login-container .body-container {
    display:flex;
  }

  .login-container .form-panel {
    margin: 20px;
  }

  .login-container .legal-body {
    margin: 20px 20px 20px 0;
    border-radius: 20px;
    background: rgba(255,255,255, 0.3);
    overflow: auto;
  }

  .login-container .legal-body .board-policy,
  .login-container .legal-body .terms-and-conditions{
    margin:20px;
  }

  .login-container .form-panel > .form-container {
    width: 350px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    background: rgba(255,255,255,0.3);
  }

  .login-container .form-panel > .form-container > table {
    width: 100%;
    border-collapse:collapse;
  }

  .login-container .form-panel > .form-container .form-field  td {
    text-align:right;
    horiz-align: right;
  }

  .login-container .form-panel > .form-container .form-field input {
    width: 210px;
    margin: 5px;
    font-size: 1.0em;
    color: #888;
    padding:10px;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
  }

  .login-container .form-panel > .form-container .form-field input:focus {
    outline: 3px solid rgba(134, 134, 255, 0.5);
  }

  .login-container .form-panel > .form-container .form-field input::placeholder {
    color: rgba(150,150,150,0.5);
  }

  .login-container .form-panel > .form-container .form-field-validation {
    color: rgba(255, 30, 30, 1);
    font-size: 0.85em;
    font-style: italic;
    text-align:right;
  }
  .login-container .form-panel > .form-container .form-field-validation:first-child {

  }
  .login-container .form-panel > .form-container .form-field-validation > td {
    padding:5px 10px 5px 10px;
    background: rgba(255, 0 , 0, 0.3);
    border: none;
    grid-gap: 0;
    width:100%;
  }
  .login-container .form-panel > .form-container .form-field-validation {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
  }

  .login-container .form-panel .form-container .picture {
    padding: 10px;
  }

  .login-container .form-panel > .form-container .submit-container {
    padding: 10px;
    margin: 0;
    text-align: right;
  }
  .login-container .form-panel > .form-container .submit-container .submit-container-input {
    width:70px;
    display:inline-block;
  }

  .login-container .form-panel > .form-container .submit-container .checkbox-container {
    margin-bottom:10px;
  }

  .login-container .form-panel > .form-container .submit-container sm-esports-checkbox {
    font-size: 0.9em;
  }

  .login-container .form-panel .form-container .submit-container .submit-container-input {
  }

  .login-container .legal-body h3 {
    margin: 0;
    padding: 0;
  }

  .login-container .link {
    color: #AAA;
    cursor: pointer;
    margin:0 10px 10px 10px;
    padding: 0;
  }
  .login-container .link:hover {
    color: #EEE;
    text-decoration: underline;
  }

</style>

<div class="login-container">

  <div class="body-container">

    <div class="form-panel">
      <div class="form-container">

        <table class="russo-one-regular">
          <tr>
            <th></th>
            <th></th>
          </tr>
          <tr class="form-field">
            <td>Email</td>
            <td><input type="email" class="russo-one-regular"
                       [(ngModel)]="userCreation.email"
                       (ngModelChange)="onFormInput()"
                       (keyup.enter)="this.userFormValid ? createAccount() : noop()"
                       placeholder="Enter Email..." /></td>
          </tr>
          <tr class="form-field">
            <td>User Name</td>
            <td><input type="text" class="russo-one-regular"
                       [(ngModel)]="userCreation.userName"
                       (ngModelChange)="onFormInput()"
                       (keyup.enter)="this.userFormValid ? createAccount() : noop()"
                       placeholder="Enter User Name..." /></td>
          </tr>
          <tr class="form-field">
            <td>Password</td>
            <td><input type="password" class="russo-one-regular"
                       [(ngModel)]="userCreation.password"
                       (ngModelChange)="onFormInput()"
                       (keyup.enter)="this.userFormValid ? createAccount() : noop()"
                       placeholder="Password" /></td>
          </tr>
          <!-- Validation -->
          <tr class="form-field-validation" *ngIf="userCreationGeneralError">
            <td></td>
            <td>{{userCreationGeneralErrorMessage}}</td>
          </tr>
          <tr class="form-field-validation" *ngIf="userCreation.emailInvalid">
            <td></td>
            <td>{{userCreation.emailValidationMessage}}</td>
          </tr>
          <tr class="form-field-validation" *ngIf="userCreation.userNameInvalid">
            <td></td>
            <td>{{userCreation.userNameValidationMessage}}</td>
          </tr>
          <tr class="form-field-validation"  *ngIf="userCreation.passwordInvalid">
            <td></td>
            <td>{{userCreation.passwordValidationMessage}}</td>
          </tr>
          <!--tr class="form-field" *ngIf="false">
            <td></td>
            <td class="picture"><picture-chooser [pictureFile]="userLogon.pictureFile" (pictureFileChanged)="onFormInput()" /></td>
          </tr-->
        </table>

        <div class="submit-container">
          <div class="checkbox-container">
            <sm-esports-checkbox [text]="'I have read and understood the Site Policy / Terms and Conditions'"
                                 (checkChanged)="onCheckChanged($event)" />
          </div>
          <div class="submit-container-input">
            <sm-esports-button [text]="'Submit'"
                               [disabled]="!userFormValid"
                               (click)="createAccount()" />
          </div>
        </div>

      </div>
    </div>

    <div class="legal-body">

      <div class="notify-container">
        <notify [name]="'Developer Preview Only!'"
                [type]="NotifyType.Permanent"
                [severity]="NotifySeverity.Error"
                [message]="'This is a developer preview only! Any data entered is not guaranteed to be secured! This (demo) is intended for development purposes only; and may be overwritten or destroyed at any time.'" />
      </div>

      <div class="board-policy">
        <h3>Site Policy</h3>
        <ul>
          <li>
            <h4>Statement of Purpose</h4>
            <p>
              This is the statement of purpose as drafted by the Super Metroid Esports Board. Please read
              and understand how we conduct our affairs as a group collaboration to work together for a
              unified purpose.
            </p>
          </li>
          <li>
            <h4>Expected Conduct</h4>
            <p>
              We expect people to treat each other respectfully; and to abide by our internet code of conduct
              which covers all allowed content, safety rules and regulations, as wells as <span>copyrighted</span>
              content regulations.
            </p>
            <p>
              Should we see a need the board will take action to ban any user for non-compliance to our conduct
              policy; and further legal action should it regard content that is either illegal or takes conflict
              with our <span>site policy on personal advertisements</span>.
            </p>
            <p>
              You may appeal <span>chat bans</span> or <span>site bans</span> at any time by emailing one of our
              board members.
            </p>
          </li>
        </ul>
      </div>
      <div class="terms-and-conditions">
        <h3>Legal Conditions (NOT OFFICIAL!)</h3>
        <p>
          (DEAR BOARD) These need to be worked out for a number of details:  Copyright (Nintendo, Twitch, Youtube, etc..);
          PAYPAL AND OTHER MONEY RELATED LINKS MUST BE HANDLED HERE!!! There could be legal ramifications to donations; and
          the site could be sued for non-compliance.
        </p>
      </div>
    </div>

  </div>

</div>


