<style>
  h1 {
    margin: 10px;
    color: #EEEEEE;
    font-size: 2.5em;
  }

  .container {
  }

  .container .header-container {
    width: 100%;
    background: #CCCCCCCC;
  }

  .container .header-container:first-child > h1 {
    color: rgba(134,134,255,1);
  }

  .news-article {
  }

  .news-article > .news-article-header {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%);
    margin-bottom: 10px;
  }
  .news-article-header > h3 {
    float: left;
    margin-left: 10px;
  }
  .news-article-header > h4 {
    float: right;
    margin-right: 10px;
    color: silver;
  }

  .news-article-content {
    padding: 20px;
  }

  .news-article-content > .news-article-description {
  }

  .news-article-content > .news-article-description > h4 {
    margin: 0px;
  }
  .news-article-content .news-article-body {
    margin-top: 10px;
    color: #DDD;
  }

  .news-article-content-flex {
    display: flex;
    padding: 20px;
  }

  .news-article-content-flex .news-article-left {
    flex: 50%;
  }

  .news-article-content-flex .news-article-right {
    flex: 50%;

    margin-left: 20px;
  }

  .news-article-content-flex .news-article-description > h4 {
    margin: 0px;
  }

  .news-article-content-flex .news-article-body {
    color: #DDD;
  }

  .highlight {
    color: deeppink;
  }

  .link {
    cursor: pointer;
    text-decoration: underline;
  }
</style>

<div class="container">

  <div class="header-container">
    <h1 class="russo-one-regular">News</h1>
  </div>

  <div class="news-article"
       *ngFor="let news of newsList;index as i">

    <div class="news-article-header">
      <h3 class="russo-one-regular">{{news.title}}</h3>
      <h4>{{news.date.toDateString()}}</h4>

      <div class="clear-fix"></div>
    </div>

    <!-- Article (Plain) -->
    <div class="news-article-content" *ngIf="news.bannerLinkType == BannerLinkType.None">

        <div class="news-article-description">
          <h4>{{news.description}}</h4>
        </div>

        <div class="news-article-body" [innerHTML]="news.bodyHtml"></div>

    </div>

    <!-- Article + Img -->
    <div class="news-article-content-flex" *ngIf="news.bannerLinkType == BannerLinkType.Img">

      <div class="news-article-left">
        <img />
      </div>

      <div class="news-article-right">
        <div class="news-article-description">
          <h4>{{news.description}}</h4>
        </div>
        <div class="news-article-body" [innerHTML]="news.bodyHtml"></div>
      </div>

      <div class="clear-fix"></div>
    </div>

    <!-- Article + Youtube Video -->
    <div class="news-article-content-flex" *ngIf="news.bannerLinkType == BannerLinkType.YoutubeVideo">

      <div class="news-article-left">
        <youtube-player [videoId]="news.bannerLinkYoutubeSourceId"
                        [width]="(videoSizeBase.width * this.sizeMultiplier) || videoSizeBase.width"
                        [height]="(videoSizeBase.height * this.sizeMultiplier) || videoSizeBase.height"
                        (ready)="refreshYoutube()">
        </youtube-player>
      </div>

      <div class="news-article-right">
        <div class="news-article-description">
          <h4>{{news.description}}</h4>
        </div>
        <div class="news-article-body" [innerHTML]="news.bodyHtml"></div>
      </div>

      <div class="clear-fix"></div>
    </div>

  </div>
</div>
