<style>
  h1 {
    padding:0px;
    color: #EEEEEE;
    font-size: 2.5em;
  }

  .people-container {
    padding: 0px;
    margin: 0px !important;
  }

  .people-container > .body-container table {
    width: 100%;
  }

  .people-container > .body-container > .user-container {
  }

  /* People Entry */
  .people-container .user-container .user-content {
    margin:20px;
    padding:0px;
  }

  /* People Entry Banner */
  .people-container .body-container .user-container > .user-banner {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .people-container .body-container .user-container > .user-banner > h3 {
    padding: 10px;
  }

  /* People Entry Content */
  .people-container .user-container .user-content {
    list-style: none;
    display: flex;
  }
  .people-container .user-container .user-info {
    width: 200px;
    text-align: left;
  }

  /* People Entry Content -> User Info */
  .people-container .user-container .user-info img {
    cursor:pointer;
  }
  .people-container .user-container .user-info h5 {
    font-size: 0.9em;
    margin: 0px;
  }
  .people-container .user-container .user-info .person-role {
    color: #DDD;
    margin-top: 10px;
  }
  .people-container .user-container .user-info .user-email {
    font-size: 0.85em;
    color: #888;
    margin-top: 5px;
  }

  /* People Entry Content -> Long Description */
  .people-container .user-container .user-descr-long {
    vertical-align: top;
    margin: 0px;
    padding: 0px;
  }
  .people-container .user-container .user-descr-long > p {
    margin: 0px;
  }


  /* People Entry Odd */
  .people-container .user-container:nth-child(2n+1) .user-content .user-info {
    text-align: left;
  }
  .people-container .user-container:nth-child(2n+1) .user-content .user-descr-long {
    margin-left: 20px;
  }

  /* People Entry Even */
  .people-container .user-container:nth-child(2n) .user-content .user-info {
    text-align: right;
  }
  .people-container .user-container:nth-child(2n) .user-content .user-descr-long {
    margin-right: 20px;
  }

</style>

<div class="people-container">

  <div class="body-container"
       [ngStyle]="{'width': this.appService.getBodySize().width + 'px',
                   'height': this.appService.getBodySize().height + 'px'}">
    <div class="user-container"
         *ngFor="let user of userList;index as i">

      @if (i % 2 === 0) {

        <div class="user-banner">
          <h3 class="russo-one-regular">
            <span class="user-descr-short" [ngStyle]="{'float': 'right', 'padding': '5px 5px 5px 10px'}">{{user.shortDescription}}</span>
            <img [ngStyle]="{'float': 'left'}"
                 src="metroid/metroid-angle-right.png"
                 alt="metroid/metroid-angle-right.png"
                 width="36" height="36" />
            <span class="user-name" [ngStyle]="{'float': 'left', 'padding': '5px 5px 5px 15px'}">{{user.name}}</span>
            <div class="clear-fix"></div>
          </h3>
        </div>

        <ul class="user-content">
          <li class="user-info">
            <img width="150"
                 height="200"
                 [ngSrc]="user.pictureUrl"
                 [routerLink]="'/personal/' + user.name"/>
            <h5 class="person-role">{{user.roleInfo.personRole}}</h5>
            <h5 class="user-email">{{user.email}}</h5>
          </li>
          <li class="user-descr-long"  [ngStyle]="{'width': (this.appService.getSize()?.width || 0) - 250}">
            <p>{{user.longDescription}}</p>
          </li>
        </ul>
      }
      @else {

        <div class="user-banner">
          <h3 class="russo-one-regular">
            <img [ngStyle]="{'float': 'right', 'padding': '5px 5px 5px 5px'}"
                 src="metroid/metroid-angle-left.png"
                 alt="metroid/metroid-angle-left.png"
                 width="36" height="36" />
            <span class="user-name" [ngStyle]="{'float': 'right', 'padding': '10px'}">{{user.name}}</span>
            <span class="user-descr-short" [ngStyle]="{'float': 'left', 'padding': '10px'}">{{user.shortDescription}}</span>
            <div class="clear-fix"></div>
          </h3>
        </div>

        <ul class="user-content">
          <li class="user-descr-long"  [ngStyle]="{'width': (this.appService.getSize()?.width || 0) - 250}">
            <p>{{user.longDescription}}</p>
          </li>
          <li class="user-info">
            <img width="150"
                 height="200"
                 [ngSrc]="user.pictureUrl"
                 [routerLink]="'/personal/' + user.name"/>
            <h5 class="person-role">{{user.roleInfo.personRole}}</h5>
            <h5 class="user-email">{{user.email}}</h5>
          </li>
        </ul>
      }

    </div>
  </div>

</div>
