
<div class="container">

  <div class="body">
    <div id="meetingSDKElement">

    </div>

      <table>
        <tr>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>Zoom Auth Endpoint</td>
          <td><input [value]="this.meetingInfo.authEndpoint" type="text" /></td>
        </tr>
        <tr>
          <td>Zoom SDK Key</td>
          <td><input [value]="this.meetingInfo.authEndpoint" type="text" /></td>
        </tr>
        <tr>
          <td>Meeting Number</td>
          <td><input [value]="this.meetingInfo.meetingNumber" type="text" /></td>
        </tr>
        <tr>
          <td>Meeting User Name</td>
          <td><input [value]="this.meetingInfo.userName" type="text" /></td>
        </tr>
        <tr>
          <td>Meeting Password</td>
          <td><input [value]="this.meetingInfo.password" type="password" /></td>
        </tr>
        <tr>
          <td>Meeting Role</td>
          <td><input [value]="this.meetingInfo.role" type="text" /></td>
        </tr>
        <tr>
          <td>Meeting User Email</td>
          <td><input [value]="this.meetingInfo.authEndpoint" type="email" /></td>
        </tr>
        <tr>
          <td>Meeting Registrant Token</td>
          <td><input [value]="this.meetingInfo.registrantToken" type="text" /></td>
        </tr>
        <tr>
          <td>Meeting Zak Token</td>
          <td><input [value]="this.meetingInfo.zakToken" type="text" /></td>
        </tr>
        <tr>
          <td>Meeting Leave Url</td>
          <td><input [value]="this.meetingInfo.leaveUrl" type="text" /></td>
        </tr>
      </table>

  </div>

</div>
