<style>

  .chat-container {
    background:rgba(0,0,0,0.3);
    display:grid;
    grid-auto-columns: 260px minmax(300px, auto) minmax(300px, 800px);
    overflow-x:hidden;
    overflow-y:hidden;
  }
  .chat-container .chat-tree-container {
    background:rgba(0,0,0,0.3);
  }
  .chat-container .chat-user-container {
    background:rgba(0,0,0,0.5);
  }

  /* Fonts */
  .chat-container h2 {
    font-family: "Russo One", sans-serif;
    font-size:1.2em;
    font-style: normal;
    font-weight: lighter;
    margin:0;
    padding:10px;
    color: rgba(134,134,255,0.5);
  }
  .chat-container .chat-user-container h2 {
    color:#EEE;
    background:rgba(255,255,255,0.2);
  }

  .chat-container .chat-tree-container h3,
  .chat-container .chat-tree-container h4,
  .chat-container .chat-tree-container h4 {
    font-family: "Russo One", sans-serif;
    font-style: normal;
    font-weight: lighter;
  }

  .chat-container .chat-tree-expander {
    margin-left: 5px;
    font-size:1em !important;
  }

  .chat-container .chat-tree-container h3 {
    font-size: 1.1em;
  }
  .chat-container .chat-tree-container h4 {
    font-size: 0.9em;
  }
  .chat-container .chat-tree-container h5 {
    font-size: 0.8em;
  }

  .chat-container .chat-tree-container h3,
  .chat-container .chat-tree-container h4,
  .chat-container .chat-tree-container h5{
    color: #888;
    margin:0;
    padding:5px 10px 5px 10px;
    cursor:pointer;
  }
  .chat-container .chat-tree-container h3:hover,
  .chat-container .chat-tree-container h4:hover,
  .chat-container .chat-tree-container h5:hover {
    color:rgba(50,50,255,0.75);
    background: #FFF;
  }
  .chat-container .chat-tree-container h3.selected,
  .chat-container .chat-tree-container h4.selected,
  .chat-container .chat-tree-container h5.selected {
    color:rgba(50,50,255,1);
    background: #FFF;
  }
  .chat-container .chat-tree-container h3 {
    padding:5px 10px 5px 10px;
  }
  .chat-container .chat-tree-container h4 {
    padding:5px 10px 5px 25px;
  }
  .chat-container .chat-tree-container h5 {
    padding:5px 10px 5px 40px;
  }

  .chat-container .chat-tree-container {
    background:rgba(255,255,255,0.75) !important;
  }
  .chat-container .chat-tree-container {
    background:rgba(255,255,255,0.75) !important;
  }

  .chat-container .chatbox-container {
    background:rgba(0,0,0,0.3);
    grid-column: 3;
  }
  .chat-container .chatbox-container chatbox {
    display:block;
    height:100%;
  }

  @media screen and (max-width: 1400px) {
    .chat-container {
      margin-top:42px;
    }
  }

  @media screen and (min-width: 1400px) {
    .chat-container {
      margin-top:52px;
    }
  }

</style>

<div class="chat-container prevent-select" [ngStyle]="{'height': (this.appService.getSize().height - 42) + 'px'}">

  <div class="chat-tree-container">
    <h2>Chat</h2>
    <div class="chat-category-item"
         *ngFor="let category of this.viewModel.chatCategories">

      <h3 (click)="category.expanded = !category.expanded">{{category.category.name}}<span class="chat-tree-expander"
                                          [textContent]="!category.expanded ? '+' : '-'"></span></h3>

      @if (category.expanded) {
        <div class="chat-group-item"
             *ngFor="let group of category.groups">
          <h4 (click)="group.expanded = !group.expanded">{{group.group.name}}<span class="chat-tree-expander"
                                                                                   [textContent]="!group.expanded ? '+' : '-'"></span></h4>

          @if(group.expanded) {
            <div class="chat-room-item"
                 *ngFor="let room of group.rooms">
              <h5 (click)="this.selectChatRoom(room.room.id)"
                  [ngClass]="{'selected': room.room.id === this.viewModel.selectedChatRoom?.room?.id}">{{room.room.name}}</h5>
            </div>
          }

        </div>
      }

    </div>
  </div>

  <div class="chat-user-container">
    <h2>Users</h2>
  </div>

  <div class="chatbox-container">
    <chatbox [chatRoomId]="this.viewModel.selectedChatRoom?.room?.id" />
  </div>

</div>
