<style>

  .chat-container {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:rgba(0,0,0,0.3);
  }

  .tab-header {
    display: block;
    width: 200px;
    margin: 5px;
  }

  .tab-header .button {
    width: 100% !important;
  }

  .tab-header sm-esports-button {
    display:block;
    margin-bottom: 5px !important;
  }

  .tab-control {
    display: flex;
    height: 100%;
  }

  .tab-content {
    border: 2px solid lightgray;
    flex: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: rgba(134, 134, 255, 0.5);

    /* Scroll the body of the chat box */
    overflow: hidden;
  }

  @media screen and (max-width: 1400px) {
    .chat-container {
      top:42px;
    }
  }

  @media screen and (min-width: 1400px) {
    .chat-container {
      top:52px;
    }
  }

</style>

<div class="chat-container">
  <div class="tab-control">
    <div class="tab-header">
      <sm-esports-button *ngFor="let tab of chatTabs; index as i;"
                         class="russo-one-regular button"
                         (clicked)="navigateRoute($event)"
                         [text]="tab.name"
                         [route]="tab.route" />
    </div>

    <div class="tab-content">
      <router-outlet />
    </div>

    <!--div class="tab-content">
      <div class="tab-item"
           *ngFor="let tab of chatTabs; index as i;">
        <div class="tab-item-content"
             *ngIf="selectedChatTab?.index == i">
          <router-outlet />
        </div>
      </div>
    </div-->

    <div class="clear-fix"></div>

  </div>
</div>
