<style>

  .people-table-search-container {
    overflow-x:hidden;
    overflow-y:hidden;
  }

  .people-table-search-container table {
    border-collapse: collapse;
    font-size:0.9em;
    text-align:left;
    width:100%;
    display:table;
    overflow-x:hidden;
    overflow-y:hidden;
    background:rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    bottom:0;
  }

  .people-table-search-container table thead {
    width:100%;
  }

  .people-table-search-container table tbody {
    display:block;
    width:100%;
    overflow-y:auto;
    overflow-x:hidden;
  }

  .people-table-search-container table thead > tr,
  .people-table-search-container table tbody > tr {
    width:100% !important;
    display:flex;
  }

  .people-table-search-container table thead tr th,
  .people-table-search-container table tbody tr td {
    text-align:left;
    text-wrap:nowrap;
    padding:2px;
    display:table-cell;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
  }

  .people-table-search-container table tbody > tr td:nth-child(1),
  .people-table-search-container table thead > tr th:nth-child(1) {
    width:180px;
  }
  .people-table-search-container table tbody > tr td:nth-child(2),
  .people-table-search-container table thead > tr th:nth-child(2) {
    width:200px;
  }
  .people-table-search-container table tbody > tr td:nth-child(3),
  .people-table-search-container table thead > tr th:nth-child(3) {
    min-width:200px;
    flex:max-content;
  }
  .people-table-search-container table tbody > tr td:nth-child(4),
  .people-table-search-container table thead > tr th:nth-child(4) {
    width:120px;
  }
  .people-table-search-container table tbody > tr td:nth-child(5),
  .people-table-search-container table thead > tr th:nth-child(5) {
    width:120px;
  }

  .people-table-search-container table thead > tr th:nth-child(5) {
    margin-right:15px;
  }

  .people-table-search-container table tbody > tr {
    background:rgba(0,0,0,0.3);
    cursor:pointer;
  }
  .people-table-search-container table thead > tr > th:first-child {
  }
  .people-table-search-container table tbody > tr:hover > td {
    background-color:rgba(255,255,255,0.1);
  }
  .people-table-search-container table tbody > tr > td fa-icon {
    color: lawngreen;
    font-size: 0.6em;
    margin:5px;
  }

  @media screen and (max-width: 1400px) {
    .people-table-search-container table {
      top: 45px;
    }
    .people-table-search-container {
      margin-top: 45px;
    }
  }

  @media screen and (min-width: 1400px) {
    .people-table-search-container table {
      top: 45px;
    }
    .people-table-search-container {
      margin-top: 45px;
    }
  }

  </style>

  <div class="people-table-search-container">

    <table class="ibm-plex-mono-medium">

      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Description</th>
          <th>Role</th>
          <th>Security</th>
        </tr>
      </thead>

      <tbody [ngStyle]="{'height': this.appService.getBodySize().height + 'px'}">
        <tr *ngFor="let entity of this.dataSource;">
          <td><fa-icon [icon]="faCircle"></fa-icon>{{entity.name}}</td>
          <td>{{entity.email}}</td>
          <td>{{entity.shortDescription}}</td>
          <td><div [ngStyle]="{'color': entity.personRole === PersonRoleType.BoardMember ? 'rgb(134,134,255)' : '#AAA'}"> {{entity.personRole}}</div></td>
          <td>{{entity.userRole}}</td>
        </tr>
      </tbody>

    </table>

  </div>
