<style>

  .people-search {
    width:100%;
    overflow-x:hidden !important;
    overflow-y:hidden !important;
    background:rgba(0,0,0,0.3);
  }

  .people-search people-table-search {
    overflow-x:hidden !important;
    overflow-y:hidden !important;
  }

  /*
    Search Results: Table sizing had to be static column widths. Still looking for CSS workaround.
  */

</style>
<div class="people-search">
  <people-table-search [ngStyle]="{'height':this.appService.getBodySize().height + 'px'}" />
</div>
