<style>

  .people-all-container {
    background:rgba(0,0,0,0.3);
    overflow-y:auto;
  }

  /* npm flex-layout is deprecated */
  .people-all-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .people-all-container .people-item.board-member {
    background:rgba(134,134,255,0.5);
  }
  .people-all-container .people-item-content {
    text-align:center;
  }
  .people-all-container .people-item {
    margin:10px;
  }
  .people-all-container .people-item-avatar-container {
    cursor:pointer;
  }
  .people-all-container .people-item-content .people-item-text-container {
    color:#555;
  }
  .people-all-container .people-item h5 {
    margin: 3px;
    padding: 0;
  }

  .people-all-container .people-item-content fa-icon {
    font-size:0.65em;
    color: lawngreen;
    margin-left:5px;
  }
  .people-all-container .people-item-content h5:nth-child(2) {
    cursor:pointer;
  }
  .people-all-container .people-item-content h5:nth-child(3) {
    color: #CCC;
  }

  .people-all-container .people-item {
    background:rgba(134,134,255,0.5);
    padding:10px;
    border-radius:10px;
    -webkit-border-radius: 10px;
  }

  .people-all-container .people-item {
    font-size:0.9em;
    background:rgba(255,255,255,0.3);
    padding:10px;
    border-radius:10px;
    -webkit-border-radius: 10px;
  }

  @media screen and (max-width: 1400px) {
    .people-all-container {
      margin-top:45px;
    }
  }

  @media screen and (min-width: 1400px) {
    .people-all-container {
      margin-top:45px;
    }
  }

</style>

<div class="people-all-container" [ngStyle]="{'height': this.appService.getBodySize().height + 'px'}">

    <div class="people-item"
         *ngFor="let person of this.peopleDataSource"
         [ngClass]="{'board-member': person.PersonRoleId == PersonRoleTypeEnum.BoardMember}">
      <div class="people-item-content">
        <div class="people-item-avatar-container">
          <sm-esports-avatar [size]="AvatarSize.Medium" [user]="person" />
        </div>
        <div class="people-item-text-container">
          <h5>{{person.Name}}<fa-icon [icon]="faCircle"></fa-icon></h5>
          <h5>({{person.PersonRoleId}})</h5>
        </div>
      </div>
    </div>
</div>
