<style>

  .people-container {
    padding: 0;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    overflow-x:hidden;
    overflow-y:scroll;
    background:rgba(0,0,0,0.5);
  }


  /* People Entry */
  .people-container .user-container .user-content {
    margin:20px;
    padding:0;
  }
  .people-container .user-container .user-content .user-info {
    width:150px !important;
  }

  /* People Entry Banner */
  .people-container .body-container .user-container > .user-banner {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .people-container .body-container .user-container > .user-banner > h3 {
    padding: 10px;
  }

  /* People Entry Content */
  .people-container .user-container .user-content {
    list-style: none;
    display: flex;
  }
  .people-container .user-container .user-info {
    text-align: left;
  }

  /* People Entry Content -> User Info */
  .people-container .user-container .user-info .user-avatar {
    cursor:pointer;
  }
  .people-container .user-container .user-info h5 {
    font-size: 0.9em;
    margin: 0px;
  }
  .people-container .user-container .user-info .person-role {
    color: #DDD;
    margin-top: 10px;
  }
  .people-container .user-container .user-info .user-email {
    font-size: 0.85em;
    color: #BBB;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow:hidden;
    cursor:pointer;
  }

  /* People Entry Content -> Long Description */
  .people-container .user-container .user-descr-long {
    vertical-align: top;
    margin: 0px;
    padding: 0px;
  }
  .people-container .user-container .user-descr-long > p {
    margin: 0px;
  }


  /* People Entry Odd -> Banner */
  .people-container .user-container:nth-child(2n+1) .user-banner .user-name {
    float: left;
    padding:10px;
  }
  .people-container .user-container:nth-child(2n+1) .user-banner img {
    float: left;
    padding:5px;
  }
  .people-container .user-container:nth-child(2n+1) .user-banner .user-descr-short {
    float: right;
    padding:10px;
    margin-right:15px;
  }

  /* People Entry Odd -> User Content */
  .people-container .user-container:nth-child(2n+1) .user-content .user-info .user-avatar {
    text-align: left;
  }
  .people-container .user-container:nth-child(2n+1) .user-content .user-info {
    text-align: left;
  }
  .people-container .user-container:nth-child(2n+1) .user-content .user-descr-long {
    margin-left: 20px;
  }

  /* People Entry Even -> Banner */
  .people-container .user-container:nth-child(2n) .user-banner .user-name {
    float: right;
    padding:10px;
  }
  .people-container .user-container:nth-child(2n) .user-banner img {
    float: right;
    padding:5px;
    margin-right:15px;
  }
  .people-container .user-container:nth-child(2n) .user-banner .user-descr-short {
    float: left;
    padding:10px;
  }

  /* People Entry Even -> User Content */
  .people-container .user-container:nth-child(2n) .user-content .user-info .user-avatar {
    text-align: right;
  }
  .people-container .user-container:nth-child(2n) .user-content .user-info {
    text-align: right;
  }
  .people-container .user-container:nth-child(2n) .user-content .user-descr-long {
    margin-right: 20px;
  }

  @media screen and (max-width: 1400px) {
    .people-container {
    }
  }

  @media screen and (min-width: 1400px) {
    .people-container {
    }
  }

</style>

<div class="people-container">

  <div class="body-container">
    <div class="user-container"
         *ngFor="let user of people; index as i">

      @if (i % 2 === 0) {

        <div class="user-banner">
          <h3 class="russo-one-regular">
            <span class="user-descr-short">{{user.ShortDescription}}</span>
            <img src="metroid/metroid-angle-right.png"
                 alt="metroid/metroid-angle-right.png"
                 width="36" height="36" />
            <span class="user-name">{{user.Name}}</span>
            <div class="clear-fix"></div>
          </h3>
        </div>

        <ul class="user-content">
          <li class="user-info">
            <div class="user-avatar">
              <sm-esports-avatar [user]="user" [size]="AvatarSize.Large" />
            </div>
            <h5 class="person-role">{{user.PersonRoleId}}</h5>
            <h5 class="user-email">{{user.Email}}</h5>
          </li>
          <li class="user-descr-long">
            <p>{{user.LongDescription}}</p>
          </li>
        </ul>
      }
      @else {

        <div class="user-banner">
          <h3 class="russo-one-regular">
            <img src="metroid/metroid-angle-left.png"
                 alt="metroid/metroid-angle-left.png"
                 width="36" height="36" />
            <span class="user-name">{{user.Name}}</span>
            <span class="user-descr-short">{{user.ShortDescription}}</span>
            <div class="clear-fix"></div>
          </h3>
        </div>

        <ul class="user-content">
          <li class="user-descr-long">
            <p>{{user.LongDescription}}</p>
          </li>
          <li class="user-info">
            <div class="user-avatar">
              <sm-esports-avatar [user]="user" [size]="AvatarSize.Large" />
            </div>
            <h5 class="person-role">{{user.PersonRoleId}}</h5>
            <h5 class="user-email">{{user.Email}}</h5>
          </li>
        </ul>
      }

    </div>
  </div>

</div>
