<style>

  .people-all-container {
    background:rgba(0,0,0,0.3);
  }

  .people-all-container cdk-virtual-scroll-viewport  {

  }

  /* flex-layout is deprecated */
  ::ng-deep .people-all-container .cdk-virtual-scroll-content-wrapper {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .people-all-container .people-item.board-member {
    background:rgba(134,134,255,0.5);
  }
  .people-all-container .people-item-content {
    text-align:center;
  }
  .people-all-container .people-item {
    margin:10px;
  }
  .people-all-container .people-item-avatar-container {
    cursor:pointer;
    background:rgba(134,134,255,0.5);
  }
  .people-all-container .people-item-content .people-item-text-container {
    background:rgba(255,255,255,0.5);
    color:#555;
    padding:5px;
    border-radius:0 0 10px 10px;
  }
  .people-all-container .people-item h5 {
    margin: 5px;
    padding: 0;
  }

  .people-all-container .people-item-content fa-icon {
    font-size:0.65em;
    color: lawngreen;
    margin:5px -5px 5px 5px;
  }
  .people-all-container .people-item-content h5:nth-child(2) {
    cursor:pointer;
  }
  .people-all-container .people-item-content h5:nth-child(3) {
    color: #CCC;
  }

  .people-all-container .people-item {
    background:rgba(134,134,255,0.5);
    padding:10px;
    border-radius:10px;
    -webkit-border-radius: 10px;
  }

  .people-all-container .people-item {
    font-size:0.9em;
    background:rgba(255,255,255,0.3);
    padding:10px;
    border-radius:10px;
    -webkit-border-radius: 10px;
  }

  @media screen and (max-width: 1400px) {
    .people-all-container {
      margin-top:45px;
    }
  }

  @media screen and (min-width: 1400px) {
    .people-all-container {
      margin-top:45px;
    }
  }

</style>

<div class="people-all-container">

  <cdk-virtual-scroll-viewport itemSize="50"
                               [ngStyle]="{'height': (this.appService.getBodySize().height) + 'px', 'display':'flex'}">
    <div class="people-item" [ngClass]="{'board-member': person.personRole == PersonRoleType.BoardMember}"
         *cdkVirtualFor="let person of this.peopleDataSource">
      <div class="people-item-content">
        <div class="people-item-avatar-container">
          <sm-esports-avatar [size]="AvatarSize.Large" [user]="person" />
        </div>
        <div class="people-item-text-container">
          <h5>{{person.name}}<fa-icon [icon]="faCircle"></fa-icon></h5>
          <h5>({{person.personRole}})</h5>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
