<style>

  .container >  button {
    width:100%;
    background-color: #DDD;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    color: #555555;
    padding: 10px;
    text-align: left;
  }

  .container > button:hover:enabled {
    background-color: #FFF;
    cursor: pointer;
  }

  .container > button:disabled {
    background-color: #CCCCCC;
    color: #AAA;
  }

  .container > button.route-active {
    background: white;
    color: rgba(100, 100, 255, 1);
  }
</style>

<div class="container">
  <button [ngClass]="{'russo-one-regular': true, 'route-active': this.routeActive()}"
          [disabled]="disabled"
          (click)="onClick()">
    {{text}}
  </button>
</div>
