<style>

  .container {
    display:grid;
    grid-template-rows: 42px auto 50px;
  }

  .container.loggedOn {
  }

  .container > .header > h2 {
    font-family: "Russo One", sans-serif;
    font-size:1.2em;
    font-style: normal;
    font-weight: lighter;
    margin:0;
    padding:10px;
    border:none;
    background: transparent;
  }

  .container > .description-container {
    font-size:0.85em;
    font-weight: 400;
    line-height:1;
    margin:0;
    padding:5px;
    background:rgba(0,0,0,0.3);
    border-radius:0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    border:2px solid rgba(255,255,255,0.5);
  }

  .container > .chat-container {
    background: rgba(0,0,0,0.3);
    display:block;
    overflow-x:hidden;
    overflow-y:auto;
  }

  .container > .chat-container .chat-item {
    font-family: "IBM Plex Mono", monospace;
    font-size:0.9em;
    display:flex;
    margin:0;
    padding:0;
    text-align:left;
    color:#EEE;
  }

  .container > .chat-container .chat-item:nth-child(2n + 1) {
    background:rgba(255,255,255,0.2);
  }
  .container > .chat-container .chat-item:nth-child(2n) {
    background:rgba(255,255,255,0.05);
  }

  .container > .chat-container .chat-item > p {
    margin:0;
    padding:5px;
  }
  .container > .chat-container .chat-item > span {
    margin:0;
    padding:5px;
  }

  .container > .logon-notification-container {
    font-family: "IBM Plex Mono", monospace;
    font-size:0.9em;
    padding: 10px;
    background:transparent;
  }

  .container > .logon-notification-container > p {
    text-wrap: wrap;
    overflow-wrap: break-word;
    margin:0;
    padding:0;
  }

  .container > .logon-notification-container > p > a {
    color: #AAA;
  }

  .container > .input-container {
    display:grid;
    grid-template-columns:1fr auto;
    margin:5px;
  }

  .container > .input-container > input {
    font-size: 1.0em;
    color: dimgray;
    padding:8px;
    border:2px solid #eee;
    border-radius: 20px;
    -webkit-border-radius: 20px;
  }
  .container > .input-container > input:focus {
    border:1px solid #ccc;
  }
  .container > .input-container > sm-esports-button {
    margin-left:5px;
  }

  @media screen and (max-width: 1400px) {
    .container {
    }
  }

  @media screen and (min-width: 1400px) {
    .container {
    }
  }

</style>


<div class="container"
     [ngClass]="{'loggedOn': this.appService.primaryUserLoggedOn}"
     [ngStyle]="{'height': this.height + 'px', 'grid-template-rows': '42px ' + (this.height - 25).toString() + 'px 50px'}">

  <div class="header">
    <h2>{{chatRoom?.Name}}</h2>
  </div>

  @if(!this.appService.primaryUserLoggedOn) {
    <div class="logon-notification-container">
      <p>
        You muse be <a [routerLink]="'/account/login'">logged on</a> to participate in the chat. If you don't yet have
        an account, please <a [routerLink]="'/account/create'">create</a> an account or contact our <a [routerLink]="'/people/board'">board</a>. Thank you
      </p>
    </div>
  }

  @else {
    <div class="chat-container">
      <div class="chat-item"
           *ngFor="let chat of this.chats;index as i">
        <span class="chat-user">{{chat.User.Name}}</span>
        <p class="chat-body">{{chat.Text}}</p>
        <!--span class="chat-date">{{formatDate(chat.date, 'h:mm:ss:a (z)', 'en-US')}}</span-->
      </div>
    </div>
  }

  <div class="input-container">
    <input [(ngModel)]="chatInput"
           [disabled]="!this.appService.primaryUserLoggedOn"
           (keyup.enter)="!!chatInput? submitChat() : noop()"
           type="text"
           required />
    <sm-esports-button [disabled]="!chatInput" [text]="'Chat'" (clicked)="submitChat()" />
  </div>

</div>
