<style>

  .container {
    height:100%;
    display:grid;
    grid-template-rows: 42px auto 80px 50px;
  }

  .container > .header {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .container > .header > h2 {
    font-family: "Russo One", sans-serif;
    font-size:1.2em;
    font-style: normal;
    font-weight: lighter;
    margin:0;
    padding:10px;
    background-color: rgba(0,0,0,0.3);
    border:none;
  }

  .container > .description-container {
    font-size:0.85em;
    font-weight: 400;
    line-height:1;
    margin:0;
    padding:5px;
    background:rgba(0,0,0,0.3);
    border-radius:0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    border:2px solid rgba(255,255,255,0.5);
  }

  .container > .body {
    background: rgba(0,0,0,0.3);
  }

  .container > .logon-notification-container {
    font-family: "IBM Plex Mono", monospace;
    font-size:0.9em;
    padding: 10px;
  }

  .container > .logon-notification-container > a {
    color: #AAA;
  }

  .container > .input-container {
    display:grid;
    grid-template-columns:1fr auto;
    margin:5px;
  }

  .container > .input-container > input {
    font-size: 1.0em;
    color: dimgray;
    padding:8px;
    border:2px solid #eee;
    border-radius: 20px;
    -webkit-border-radius: 20px;
  }
  .container > .input-container > input:focus {
    border:1px solid #ccc;
  }
  .container > .input-container > sm-esports-button {
    margin-left:5px;
  }

  @media screen and (max-width: 1400px) {
    .chat-container {
      margin-top:42px;
    }
  }

  @media screen and (min-width: 1400px) {
    .chat-container {
      margin-top:52px;
    }
  }

</style>


<div class="container">

  <div class="header">
    <h2>{{chatRoom?.name}}</h2>
  </div>

  <div class="body">
    <div class="chat-container"
         *ngFor="let chat of this.chats;index as i">
      <span class="chat-user">{{chat.userName}}</span>
      <p class="chat-body">{{chat.text}}</p>
      <span class="chat-date">{{formatDate(chat.date, 'YYYY-MM-dd hh:mm:ss', 'en-US')}}</span>
      <div class="clear-fix"></div>
    </div>
  </div>

  <div class="logon-notification-container"
       [ngStyle]="{'height': this.appService.primaryUserLoggedOn ? '80px' : '0'}">
    You muse be <a [routerLink]="'/account/login'">logged on</a> to participate in the chat. If you don't yet have
    an account, please <a [routerLink]="'/account/create'">create</a> an account or contact our <a [routerLink]="'/people/board'">board</a>. Thank you
  </div>

  <div class="input-container" *ngIf="this.appService.primaryUserLoggedOn">
    <input [(ngModel)]="chatInput"
           (keyup.enter)="!!chatInput? submitChat() : noop()"
           type="text"
           required />
    <sm-esports-button [disabled]="!chatInput" [text]="'Chat'" (clicked)="submitChat()" />
  </div>

</div>
