<style>
  .login-container {
    padding: 0px;
    margin: 0px !important;
  }

  .login-container .form-panel {
    margin: 20px 0 20px 0;
  }

  .login-container .form-panel > .form-container {
  }

  .login-container .form-panel > .form-container > table {
    width: 100%;
  }

  .login-container .form-panel > .form-container .form-field  td {
    text-align:right;
    horiz-align: right;
    color:#666;
  }

  .login-container .form-panel > .form-container .form-field input {
    width: 210px;
    margin: 5px;
    font-size: 1.0em;
    color: #888;
    padding:10px;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
  }

  .login-container .form-panel > .form-container .form-field input:focus {
    outline: 3px solid rgba(134, 134, 255, 0.5);
  }

  .login-container .form-panel > .form-container .form-field input::placeholder {
    color: rgba(150,150,150,0.5);
  }

  .login-container .form-panel .form-container .picture {
    padding: 10px;
  }

  .login-container .form-panel > .form-container .submit-container {
    padding: 5px 10px 10px 0;
    margin: 0;
    text-align: right;
  }
  .login-container .form-panel > .form-container .submit-container .submit-container-input {
    width:70px;
    display:inline-block;
  }

  .login-container .form-panel > .form-container .submit-container .checkbox-container {
    margin-bottom:10px;
  }

  .login-container .form-panel > .form-container .submit-container sm-esports-checkbox {
    font-size: 0.9em;
  }

  .login-container .form-panel .form-container .submit-container .submit-container-input {
  }

  .login-container .link {
    font-style: italic;
    color: #888;
    cursor: pointer;
    margin:0 10px 10px 10px;
    padding: 0;
    text-decoration: none;
  }

</style>

<div class="login-container">
    <div class="form-panel">
      <div class="form-container">

        <table class="russo-one-regular">
          <tr>
            <th></th>
            <th></th>
          </tr>
          <tr class="form-field">
            <td>User Name</td>
            <td><input type="text" class="russo-one-regular" [(ngModel)]="userLogon.userName" (ngModelChange)="onFormInput()" placeholder="Enter User Name..." /></td>
          </tr>
          <tr class="form-field">
            <td>Password</td>
            <td><input type="password" class="russo-one-regular"
                       [(ngModel)]="userLogon.password"
                       (ngModelChange)="onFormInput()"
                       (keyup.enter)="this.userFormValid ? login() : noop()"
                       placeholder="Password" /></td>
          </tr>
          <tr class="form-field">
            <td></td>
            <td><a class="link" [routerLink]="'/create-account'">Create an Account</a></td>
          </tr>
        </table>

        <div class="submit-container">
          <div class="submit-container-input">
            <sm-esports-button [text]="'Submit'"
                               [disabled]="!userFormValid"
                               (click)="login()" />
          </div>
        </div>

      </div>
    </div>
</div>


